<%-include('head.ejs') %>
<body>
	<div class="container-fluid banner">
		<div class="row">
			<div id="baner">
				<h1>My Book Store</h1>
			</div>
		</div>
	</div>
	<div class="container" id='shelf'>
		<div class="row" >
			<div class="col-row-8" > 
				<h1>My Book Store</h1>
		<h3>You can search for any book here</h3>
			</div>
		</div>
		
	</div>
	<div class="container" id='shelf'>
		<div class="row" >
			<div class="col-row-8" > 
				<div id="list">
		<div>
			<table>
				<tr>
					<th>ID</th>
					<th>TITLE</th>
					<th>BOOK CODE</th>
					<th>AUTHOR</th>
					<th>YEAR PUBLISHED</th>
					<th>PUBLISHER</th>
				</tr>
				<tr>
					<td>001</td>
					<td>How to Make 2 Million Naira in 1 hour</td>
					<td>p055</td>
					<td>Godsn Chinonyerem</td>
					<td>2020</td>
					<td>Johnson Publishers</td>
				</tr>
			</table>
		</div>
	</div>	
			</div>
		</div>
	</div>

	<%-include('footer.ejs')%>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9f5cd78fa4.js" crossorigin="anonymous"></script>
</body>
</html>

